
        <h1>Employee management</h1>
        <%= form_with model:@employee do  |f| %>
            <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :employee_unique_id, "EmployeeUniqueId" %><br />
    <%= f.text_field :employee_unique_id, autofocus: true, autocomplete: "employee_unique_id" %>
  </div>  

  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.select :role_id, [ ['admin',2] , ['employee',3], ['manager',4]] %>
  </div>


  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
  </div>



  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Add Employee" , class:"loginbtn mt-2" %>
  </div>
<% end %>



