<div class="d-flex flex-row">
    <div>
        <%= render "admin/adminoptions" %>
    </div>
    
    <div class="d-flex flex-column">

    <%= search_form_for @q, url: :employees do |form| %>
        <div class="form-group hm mt-3">
          <%= form.label :first_name %>
          <%= form.text_field :first_name_cont, class:"form-control"%>
        </div>
        <div class="form-group hm mt-3">
          <%= form.submit class:"loginbtn"%>
        </div>
    <% end %>

    <h1 class="hm"> Employee Management </h1> 
    <div>
    <table class="table">
    <tr>
      <th>Employee Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @employees.each do |employee| %>
    <tr>
     <td>
     <%= employee.full_name%>
     </td>
     <td>
     <%= employee.email%>
     </td>
     <td>
      <%= link_to edit_employee_path(employee),class:"btn",data: { turbo_frame: "remote_modal" } do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      <%end%>
      </td>
      <td>
      <%= button_to employee_path(employee),method: :delete,class:"btn" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>
      <% end %>
      </td>
    
    <% end %>
    </table>
    <%= paginate @employees%>
    </div>

    
    <%= button_to "Add Employee",new_employee_path ,method: :get, class: "loginbtn hm", data: { turbo_frame: "remote_modal" } %>
  
    

</div>
    
</div>