<div class="box1">
    <div>
    <%= button_to "Leave", leaves_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Holiday", holidays_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Employee Management", employees_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Designation Management", designations_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Project Management", projectmanagements_path, method: :get,class:"lpcontainer"%>
    </div>



</div>